name: Reusable workflow for building and pushing images

on:
  workflow_call:
    inputs:
      push:
        required: true
        type: boolean
      tag:
        required: true
        type: boolean


env:
  DOCKER_BUILDKIT: 1
  REGISTRY_IMAGE: "${{ github.repository_owner }}/${{ github.event.repository.name }}"
  GHCR_PREFIX: "ghcr.io"
  DOCKER_HUB_PREFIX: "docker.io"
  DOCKER_IMAGE_BUILD_ORDER: "base-legacy base-csgo hlds srcds csgo"

jobs:
  build-scan-push-tag:
    runs-on: ubuntu-22.04
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
        if: ${{ inputs.push || inputs.tag }}

      - name: Build all images
        if: ${{ inputs.push }}
        run: |
          for docker_image in ${DOCKER_IMAGE_BUILD_ORDER}; do
            docker pull ${GHCR_PREFIX}/${REGISTRY_IMAGE}:${docker_image}-latest || true
            docker buildx bake -f docker-compose.yml ${docker_image}
          done

      - name: Log in to GHCR
        if: ${{ inputs.push || inputs.tag }}
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to Docker Hub
        if: ${{ inputs.push || inputs.tag }}
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_ACCESS }}

      - name: Push latest images to registries
        if: ${{ inputs.push }}
        run: |
          docker_images=$(docker-compose config --services | paste -sd " " -)

          for docker_image in ${docker_images}; do
            local_image=$(echo ${REGISTRY_IMAGE} | tr '/' '-')

            docker tag ${local_image}:${docker_image} ${GHCR_PREFIX}/${REGISTRY_IMAGE}:${docker_image}-latest
            docker tag ${local_image}:${docker_image} ${DOCKER_HUB_PREFIX}/${REGISTRY_IMAGE}:${docker_image}-latest

            docker push ${GHCR_PREFIX}/${REGISTRY_IMAGE}:${docker_image}-latest
            docker push ${DOCKER_HUB_PREFIX}/${REGISTRY_IMAGE}:${docker_image}-latest
          done

      - name: Push tagged images to registries
        if: ${{ inputs.tag }}
        run: |
          docker_images=$(docker-compose config --services | paste -sd " " -)

          for docker_image in ${docker_images}; do
            docker pull ${GHCR_PREFIX}/${REGISTRY_IMAGE}:${docker_image}-latest

            docker tag ${GHCR_PREFIX}/${REGISTRY_IMAGE}:${docker_image}-latest ${GHCR_PREFIX}/${REGISTRY_IMAGE}:${docker_image}-${{ github.ref_name }}
            docker tag ${GHCR_PREFIX}/${REGISTRY_IMAGE}:${docker_image}-latest ${DOCKER_HUB_PREFIX}/${REGISTRY_IMAGE}:${docker_image}-${{ github.ref_name }}

            docker push ${GHCR_PREFIX}/${REGISTRY_IMAGE}:${docker_image}-${{ github.ref_name }}
            docker push ${DOCKER_HUB_PREFIX}/${REGISTRY_IMAGE}:${docker_image}-${{ github.ref_name }}
          done
